body{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    background-image: url(06.05.webp);
    background-size: cover;
    font: size 12px;;
}
header h1 {
    color: orange;
    text-align: center;
    padding: 10px 0;
    background-color:rgb(56, 201, 201);
    font-weight: bold;
    font-size: 40px;
}
header p {
    text-align: center;
    color: black;
    font-weight: 800;
    font-size: 20px;
  }
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #ffffff;
    border: 1px solid #ddd;
  }  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
  }
  table th {
    background-color: aquamarine;
    color: white;
    font-size: 15px;
  }
  h2 {
    color: #ff4500;
    text-align: center;
  }
  a {
    color: #007bff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }